
fastapi 
uvicorn[standard] 
sqlalchemy[asyncio] 
asyncpg 
alembic 
pydantic-settings 
python-multipart 
passlib[bcrypt] 
python-jose[cryptography] 
pydantic[email]
jwt
redis 
aiosqlite
httpx
pythonjsonlogger
structlog